.body {
    font-family: 'Inconsolata', serif;
    color: white; 
    margin-left: 2%;
    width: 94%;
}

.heading {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.subheading {
    font-style: italic;
    margin-top: 0;
}

.subheading2 {
    font-style: italic;
    margin-top: 30px;
}

.description {
    width: 100%;
}

.checkbox {
    font-family: 'Inconsolata', serif; 
    font-size: 0.8rem;
    margin-bottom: -5px;
}